@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  width: 100%;
  height: 700px;
  background-image: url(images/top.jpg);
  background-size: cover;
}

header h1 {
  margin: 0;
  display: inline-block;
  padding: 20px;
  color: #292929;
  font-size: 30px;
  /* ロゴを挿入 */
}

header #top1 {
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

header #top1 h2 {
  font-size: 60px;
  margin: 0;
}

header #top1 p {
  font-size: 20px;
  font-weight: bold;
}

.top2 {
  width: 450px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 90px;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.top2 p a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 10px 25px;
  font-weight: bold;
}

.top2 p a:hover {
  color: #000;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 5px;
}

main .title {
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
  color: #8bcd7a;
}

main #main1 {
  width: 960px;
  margin: 50px auto 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

main #main1 .contents img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

main #main1 .contents p {
  width: 250px;
  margin: 20px auto 0 auto;
  text-align: center;
  color: gray;
}

main #main2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  margin: 0 auto;
}

main #main2 img {
  width: 400px;
  height: 250px;
  margin-right: 50px;
}

main #main2 p {
  margin: auto 0;
  color: gray;
  font-size: 12px;
  border-top: 1px solid #999990;
  border-bottom: 1px solid #999990;
  padding: 30px 0;
  /* ボーダー線を斜めに向けたい */
}

main #main2 span {
  color: pink;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}

main #main3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  margin: 0 auto 70px auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

main #main3 ul {
  padding: 0;
  margin: 0 auto;
}

main #main3 ul li {
  list-style: none;
  text-align: center;
}

main #main3 ul li img {
  width: 100px;
  height: 100px;
}

main #main3 ul li p {
  width: 200px;
  font-size: 12px;
  color: gray;
}

main #main4 {
  height: auto;
  width: 100%;
  background-color: #f1f1f1;
  padding: 80px 0;
}

main #main4 h3 {
  font-size: 32px;
  font-weight: normal;
  color: #666;
  text-align: center;
  margin: 0 0 80px 0;
}

main #main4 .contents {
  width: 1000px;
  margin: 0 auto;
}

main #main4 ul {
  text-align: center;
  padding: 0;
}

main #main4 li {
  border: 2px solid #555;
  border-bottom: 5px solid orange;
  display: inline-block;
  margin-bottom: 30px;
}

main #main4 li:hover {
  opacity: 0.6;
}

main #main4 img {
  width: 300px;
  height: 200px;
}

main #main4 .content {
  padding: 10px;
  font-size: 22px;
  color: #555;
  text-align: center;
}

main #main4 .date {
  font-size: 8px;
  color: #ccc;
  padding: 5px;
  text-align: right;
}

main #main4 #btn {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

main #main4 #btn p {
  display: inline-block;
  font-size: 20px;
  background-color: orange;
  padding: 8px 12px;
  color: #fff;
}

main #main4 #btn p:hover {
  opacity: 0.6;
}

main #main5 {
  background-image: url(images/main9.png);
  background-size: cover;
  width: 90%;
  height: auto;
  padding: 40px 0;
  margin: 200px auto;
  /* 背景画像にスモークを架けたい */
}

main #main5 h4 {
  text-align: center;
  font-size: 34px;
  color: #fff;
  font-weight: normal;
}

footer {
  background-color: #f1f1f1;
}

footer #footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}

footer #footer ul {
  padding: 0;
  width: 200px;
  margin-top: 50px;
}

footer #footer ul li {
  text-align: center;
  list-style-type: none;
  font-size: 12px;
}

footer #footer ul a {
  text-decoration: none;
  color: #666;
}

footer #footer ul a:hover {
  opacity: 0.6;
}

footer #footer ul .f_title {
  font-weight: bold;
  font-size: 16px;
  color: #666;
}

footer p {
  text-align: center;
  color: #ccc;
  font-size: 10px;
  padding: 50px 0;
}
/*# sourceMappingURL=style.css.map */
